<!DOCTYPE html>

<main class="">
  <nav class="navbar">
    <div class="navbar-container">
      <div class="navbar-toggle" id="mobile-menu">
        <span class="bar"></span>
        <span class="bar"></span>
        <span class="bar"></span>
      </div>
      <div class="navbar-center">
        <a href="#" class="navbar-logo">{{ content1?.title }}</a>
      </div>
      <div class="navbar-right">
        <img src="../assets/uk.png" alt="uk_map" />
      </div>
    </div>
    <ul class="navbar-menu"></ul>
  </nav>
  <app-smart-card></app-smart-card>
</main>

<router-outlet />
